.btn{
  background-color: rgba(25, 135, 84, 0.4)!important; 
  border-radius: 50%!important;
}

.fa-heart{
    color: red;
}

.blinking {
    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4
  }

  100% {
    opacity: 1;
  }
}